.homeBackground {
  min-height: 100vh;
  background: url("../assets/backgroundlogin.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.homeBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.heroContent {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.mainHeading {
  font-size: 3.5em;
  font-weight: 800;
  margin-bottom: 20px;
}

.subHeading {
  font-size: 1.5em;
  font-weight: 400;
  color: #ddd;
}
